.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem;
  gap: 2rem;

  .editor {
    flex: 1;
    max-width: 800px;
    min-width: 320px;

    display: flex;
    justify-content: stretch;
    align-items: stretch;

    textarea {
      width: 100%;
      height: 90vh;
    }
  }
}
